
.nav.nav-pills.nav-stacked > li > div:first-child{
        color: black;
        padding: 5px;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        background-color: #C899D4;
        text-decoration: none;
        cursor:pointer;
        border: 2px solid #2e4053;
        border-radius: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 5px;

        
      }


ul.nav.nav-pills.nav-stacked{
    margin-top: 20px;
    margin-bottom: 20px;    
    list-style:none !important; 
} 


.active{
	background-color: #bb9bc2;
	color: #2e4053;
}
.nav.nav-pills.nav-stacked > li > div > ul > li{

 	background-color: #E2DFE8;
    list-style:none !important; 
    

 }

 div#item-menuItem , div#product-menuItem, div#category-menuItem ,
 div#discount-menuItem , div#user-menuItem , div#customer-menuItem, 
 div#gender-menuItem{
    display: none;
 }

 .btn-submit{
    text-decoration: none;
    background-color: #5A429E;
    color: white;
    border: 2px solid #B4AF91;
    border-radius: 15px;
    min-width: 60px;

 }

 .btn-submit:hover{

    background-color: #85159B;
    color: white;
 }


 .btn-reset{
    margin-left: 20px;
    background-color: #B89FD5;
    border: 2px solid #B4AF91;
    border-radius: 15px;
    text-decoration: none;
    min-width: 60px;
 }

 .btn-delete{
    text-decoration: none;
    margin-left: 20px;
    background-color: #32363E;
    border: 2px solid #B4AF91;
    border-radius: 15px;
    color: white;    
    min-width: 60px;
 }
 .btn-delete:hover{
    background-color:#5D6B84;
    color: white;
 }
 

 .btn-reset:hover{

    background-color: #CCBBD0;
    
 }

 .form-btn{
    margin-top: 45px;
 }

 .list{
    border-top: 1px solid #667882;
    padding-bottom: 5px;
    padding-top: 5px;
 }

 .list-first{    
    padding-bottom: 5px;
    padding-top: 5px;
 }

 #dropdown-nbperpage{
    margin-left: -17px;
    margin-bottom: 5px;
 }
#dropdown-nbperpage li a:hover{
    background-color: #C0BFA9;

}

div.text-nb-result{
    color: #99A1A0;
    margin-right: 0px;
    padding-top: 10px;
    margin-bottom: 0px;

}

.modal-header, .close {
       background-color: #873AC1;
      color:white !important;
      text-align: center;
      font-size: 30px;
      padding:35px 50px;
  }

.modal-header {
      
      padding:35px 50px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

  .modal-body ul >li {
    text-transform: capitalize;
  }



 