
 .listing-filter{    	
    	
    	border-style: dashed; 
    	background-color:  #F2F4F4;
    	border-color: #E5E8E8  ;
    	margin-bottom: 20px;
    	padding-left: 0px;
        list-style: none;
        font-size: 14px;
        text-transform: capitalize;

    }


    ul.listing-filter{        
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: scroll; /* Add vertical scrollbar */  
        height: 250px;      

    }

   .listing-filter input[type="number"] {
    width: 80px;
    text-align:center;
    
    }

    .listing-filter span.glyphicon-minus {
   
    text-align:center;
    margin-left: 7px;
    
    }
    div.filter-search-refine{
        margin-top: 10px;
        border-top: 1px solid #E5E8E8;
        text-align: center;
    }

    div.filter-search-refine button, div.filter-search-refine button:focus{
        background-color:  #5C1F79;
        color: white;
    }

    div.filter{

    	padding-left: 0px;
    	padding-top: 30px;

    }   
   

    .filter-active{

    	font-weight: bold;
    	color: black;
    	
    }   


    ul.listing-filter  >li:not(:first-child){
    	padding-top: 5px;
    }

  

    span#listing-sort-dropdown{

    	padding-left: 20px; 
    	border-bottom-style: solid;
    	border-bottom-width: 1px; 	

    }


    div.sort-list{
    
    	padding-bottom: 30px;
    }

   span#sort-method {   	
   	padding-left: 30px;

   }

   div.header-filter-listed > p > a, div.header-filter-listed > p {

   	    font-weight: bold;
    	color:  #5C1F79;
    	font-size: 16px;
    	text-transform: uppercase;
        padding: 0px;
        margin: 0px;

   }
   .text-strong{
		color:  black;		
		font-weight: bold;
		font-size: 17px; 
        text-transform: capitalize;
    }

	

    div.list-item-display{
        margin-right: 12px;
        margin-bottom: 10px;
        padding: 0px;
    }
    div.list-item-display  p{
        margin: 0px;
        padding: 0px;  
        text-align: center;      
    }
   

    div.list-item-display img{

        height: 300px;

    }

    div.list-item-display img:hover{
        
        width:  275px;
        height: 350px;
    }

   div.header-filter-listed a, div.list-item-display > a{
        text-decoration: none;
    }

   