
 ul.listing-filter{    	
    	
    	border-style: dashed; 
    	background-color:  #F2F4F4;
    	border-color: #E5E8E8  ;
    	margin-bottom: 10px;
    	padding-left: 0px;
    }

    div.filter{

    	padding-left: 0px;
    	padding-top: 30px;


    }

   
    ul.listing-filter li {
    	list-style: none;

    }    

   ul.listing-filter  >li.listing-filter-header{
    	
    	font-size: 14px;
    	text-transform: uppercase;
    }

    .listing-filter-header-focus{

    	font-weight: bold;
    	color: black;
    	
    }


    ul.listing-filter >li{
    	   	
    	font-size: 14px;
    	text-transform: capitalize;



    }


    ul.listing-filter  >li.listing-filter-header:not(:first-child){
    	padding-top: 5px;
    }

    .listing-items > div.row > div {

    	text-align: center;
    	padding-top: 5px;

    }

    span#listing-sort-dropdown{

    	padding-left: 20px; 
    	border-bottom-style: solid;
    	border-bottom-width: 1px; 	

    }


    div.sort-list{
    
    	padding-bottom: 30px;
    }

   span#sort-method {   	
   	padding-left: 30px;

   }

   .category-listed{

   	    font-weight: bold;
    	color: #4a235a;
    	font-size: 16px;
    	text-transform: uppercase;

   }
   .text-strong{
		color:  black;		
		font-weight: bold;
		font-size: 17px; 
        text-transform: capitalize;
    }

	

    div.list-item-display{
        margin-right: 12px;
        margin-bottom: 10px;
    }
    div.list-item-display p{
        margin: 0px;
        padding: 0px;        
    }
    div.list-item-display p {
        text-align: center;

    }

    div.list-item-display img{

        height: 300px;

    }