
 ul.listing-filter{    	
    	
    	border-style: dashed; 
    	background-color:  #F2F4F4;
    	border-color: #E5E8E8  ;
    	margin-bottom: 20px;
    	padding-left: 0px;
        list-style: none;
        font-size: 14px;
        text-transform: capitalize;

    }

    div.filter{

    	padding-left: 0px;
    	padding-top: 30px;

    }   
   

    .filter-active{

    	font-weight: bold;
    	color: black;
    	
    }   


    ul.listing-filter  >li:not(:first-child){
    	padding-top: 5px;
    }

  

    span#listing-sort-dropdown{

    	padding-left: 20px; 
    	border-bottom-style: solid;
    	border-bottom-width: 1px; 	

    }


    div.sort-list{
    
    	padding-bottom: 30px;
    }

   span#sort-method {   	
   	padding-left: 30px;

   }

   div.header-filter-listed > p > a, div.header-filter-listed > p {

   	    font-weight: bold;
    	color:  #5C1F79;
    	font-size: 16px;
    	text-transform: uppercase;
        padding: 0px;
        margin: 0px;

   }
   .text-strong{
		color:  black;		
		font-weight: bold;
		font-size: 17px; 
        text-transform: capitalize;
    }

	

    div.list-item-display{
        margin-right: 12px;
        margin-bottom: 10px;
        padding: 0px;
    }
    div.list-item-display  p{
        margin: 0px;
        padding: 0px;  
        text-align: center;      
    }
   

    div.list-item-display img{

        height: 300px;

    }

    div.list-item-display img:hover{
        
        width:  275px;
    }

   div.header-filter-listed a, div.list-item-display > a{
        text-decoration: none;
    }

    div.list-item-display:hover{
        border: 2px outset #e6e6e6;
        

    }