
	<ul class="  nav nav-pills nav-stacked">
  <li > 
   <div id="item-menu"> Item </div>
   <div id="item-menuItem">
	<ul >
	   <li><a href="">view items </a></li>
	   <li><a href="">add item </a></li>
    </ul>
    </div>
</li>
  <li>  
  	<div  id="product-menu"> Product </div>
  	<div id="product-menuItem">
	<ul>
		<li><a href="">view products </a></li>
	    <li><a href=""> add product </a></li>
    </ul>
    </div>
  </li>
  <li >  
  	<div id="category-menu"> Category </div>
  	<div id="category-menuItem">
	<ul>
		<li><a href="">view categories </a></li>
	    <li><a href=""> add category </a></li>
    </ul>
    </div>
  </li>
  <li >
  	<div id="discount-menu"> Discount </div>
  	<div id="discount-menuItem">
	<ul>
		<li><a href="">view discounts </a></li>
		<li><a href="#">ongoing discounts</a></li>							
	    <li><a href="#">add discount</a></li>     
	</ul>

    </div>

  </li>
  <li >
  	<div id="user-menu">User </div>
  	<div id="user-menuItem">
	<ul>
		<li><a href="">view users </a></li>									
	    <li><a href="#">add user</a></li>     
	</ul>

    </div>
  </li>
  <li >
    <div id="customer-menu" >Customer </div>
  	<div id="customer-menuItem">
	<ul>
		<li><a href="">view customers </a></li>									
	    <li><a href="#">custormers' orders</a></li>     
	</ul>

    </div>

  </li>
  </ul>















