<!DOCTYPE html>

<html>

	<head>

	  <meta charset="utf-8">

	  <meta name="viewport" content="width=device-width, initial-scale=1">


	  <title>{% block title %}Vano Fashion{% endblock %}</title>

      
	  {% block stylesheets%} 	    
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster+Two" />
	
	  {% stylesheets 'bundles/vanofashioneshopping/css/general.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}

	  {% endblock %}


	</head>


	<body >
    
    <div class="container-fluid  " >
    	<div id="main-menu"  >
		    <div class="container-fluid">
		      <div class="row discount">
		      {% block discount %}
		      <p class="text-center" >  here is for discount's messages </p>
		      {%endblock%}
		     </div>
			  <div  class="row">
			  	  <div class="col-sm-1">  </div>
			  	  <div class="col-sm-3"> 
				  	  <span style= "padding-right: 20px">Currency: 
				  	    <span class="dropdown">
						  <span class="dropdown-toggle"  data-toggle="dropdown"><span class="glyphicon glyphicon-usd"></span>
						  <span class="caret"></span></span>
						  <ul id="currency" class="dropdown-menu">
						    <li><a href="#"><span class="glyphicon glyphicon-euro"></span></a></li>			    
						    <li><a href="#"><span class="glyphicon glyphicon-usd"></span></a></li>
						    <li><a href="#">Cad </a></li>
						    <li><a href="#">Fcfa </a></li>
						  </ul>
						  </span> 
					    </span>

					    <span > <span style= "padding-right: 5px" class="glyphicon glyphicon-globe"></span>Language: <a id="langFr" class="lien" href="" >Fr</a>|<a id="langEn" class="lien" href="" >En</a>
					    </span>

		            </div>

		            <div class="col-sm-5"> 
		             	{% image 'bundles/vanofashioneshopping/images/logo3.png' %}
					   <img  class="img-responsive logo rotating cover" src="{{ asset_url }}" alt="Logo" width="180" height="175"> 
					    {% endimage %}
		            </div>

		            <div class="col-sm-1">
		            	<a class="lien" href="" ><span class="glyphicon glyphicon-user"></span> 
		            		<span id="userNickname"> My area </span> </a>
		            </div>

		            <div class="col-sm-1">
		            	<a class="lien" href="" > <span id="userCart"> My cart </span>
		            	<span class="glyphicon glyphicon-shopping-cart"></span>
		                </a>
		            </div>
		            <div class="col-sm-1">  </div>
			    
			  </div>
			    
			</div>   

			{{ render(controller("VanoFashionEShoppingBundle:Item:menu" )) }}

		    
	</div>
</div>	
  
  
   



	{% block body %}

    {% endblock %}

   

    <footer class="container-fluid  ">
        <div class="row">
	    	<div class="col-sm-4 footer-menu "> 
	    		<ul>
	    			
	    			<li class="footer-menu--header">Customer service</li>
	    			<li><a href="">Contact us</a></li>
	    			

	    		</ul></div>
	    	<div class="col-sm-4 footer-menu"> 
	    		<ul>	    			
	    			<li class="footer-menu--header">VanoFashion</li>
	    			<li><a href="">About us</a></li>
	    			<li><a href="">Privacy policy</a></li>
	    			
	    			
	    		</ul>
	    	</div>
	    	<div class="col-sm-4 footer-menu">
	    		<ul>	    			
	    			<li class="footer-menu--header">Shopping Online</li>
	    			<li><a href="">Prices &amp Currencies</a></li>
	    			<li><a href="">available payment</a></li>
	    			<li><a href="">shipment information</a></li>
	    			<li><a href="">return policy</a></li>
	    			<li><a href="">Terms &amp conditions </a></li>
	    		</ul>
	    	</div>
    	</div>

    	<div class="row copyright-text">
    		&copy 2018-<script>document.write(new Date().getFullYear())</script> 
    		<span id="company-name"> VanoFashion </span>
    	</div>
       
   </footer>

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    {% endblock %}
	</body>

</html>