<!DOCTYPE html>

<html>

	<head>

	  <meta charset="utf-8">

	  <meta name="viewport" content="width=device-width, initial-scale=1">


	  <title>{% block title %}Vano Fashion{% endblock %}</title>


	  {% block stylesheets%} 	    
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster+Two" />
	  {% stylesheets 'bundles/vanofashioneshopping/css/general.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}

	  {% endblock %}


	</head>


	<body >
    <div class="police">
    <div class="container-fluid  " >
	    <div class="container-fluid">
	      <div class="row discount">
	      {% block discount %}
	      <p class="text-center" >  here is for discount's messages </p>
	      {%endblock%}
	     </div>
		  <div  class="row">
		  	  <div class="col-sm-1">  </div>
		  	  <div class="col-sm-3"> 
			  	  <span style= "padding-right: 20px">Currency: 
			  	    <span class="dropdown">
					  <span class="dropdown-toggle"  data-toggle="dropdown"><span class="glyphicon glyphicon-usd"></span>
					  <span class="caret"></span></span>
					  <ul id="currency" class="dropdown-menu">
					    <li><a href="#"><span class="glyphicon glyphicon-euro"></span></a></li>			    
					    <li><a href="#"><span class="glyphicon glyphicon-usd"></span></a></li>
					    <li><a href="#">Cad </a></li>
					    <li><a href="#">Fcfa </a></li>
					  </ul>
					  </span> 
				    </span>

				    <span > <span style= "padding-right: 5px" class="glyphicon glyphicon-globe"></span>Language: <a id="langFr" class="lien" href="" >Fr</a>|<a id="langEn" class="lien" href="" >En</a>
				    </span>

	            </div>

	            <div class="col-sm-5"> 
	             	{% image 'bundles/vanofashioneshopping/images/logo3.png' %}
				   <img  class="img-responsive logo rotating" src="{{ asset_url }}" alt="Logo" width="180" height="175"> 
				    {% endimage %}
	            </div>

	            <div class="col-sm-1">
	            	<a class="lien" href="" ><span class="glyphicon glyphicon-user"></span> 
	            		<span id="userNickname"> My area </span> </a>
	            </div>

	            <div class="col-sm-1">
	            	<a class="lien" href="" > <span id="userCart"> My cart </span>
	            	<span class="glyphicon glyphicon-shopping-cart"></span>
	                </a>
	            </div>
	            <div class="col-sm-1">  </div>
		    
		  </div>
		    
		</div>   

	    <nav class="navbar navbar-default navbar-fixed">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>	     
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class=" col-sm-2"> </ul>
		      <ul class="nav navbar-nav col-sm-6">
		        <li class="dropdown dropdown-large menu ">
		        	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Men</a>
		        	<ul class="dropdown-menu dropdown-menu-large container ">
		        	  <li class="col-sm-3">
		        	  	
					      <a href="#">
					      	{% image 'bundles/vanofashioneshopping/images/model_new_arrivals.jpg' %}
					        <img src="{{ asset_url }}" alt="Lights" style="width:100%">
					        {% endimage %}
					        <div class="text-center dropdown-menu-new-arrival" >
					          <p >New Arrivals</p>
					        </div>
					      </a>
					    
		        	  </li>
			          <li class="col-sm-3"> 
			          	<ul>
							<li class="dropdown-header">Shop by product</li>
							<li><a href="#">Clothing</a></li>						
							<li><a href="#">Bag</a></li>
							<li><a href="#">Shoes</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Jewelry</a></li>
							<li><a href="#">More ...</a></li>
						</ul>
			          </li>
			          <li class="col-sm-3">
			          	<ul>
							<li class="dropdown-header">Shop by Designer</li>
							<li><a href="#">Ralph Lauren</a></li>
							<li><a href="#">Tommy </a></li>
							<li><a href="#">Calvin Klein</a></li>
							<li><a href="#">Diesel</a></li>
							<li><a href="#">Guess</a></li>
							<li > <a href="#">More ...</a> </li>
							
						</ul>
			          </li>
			          <li class="col-sm-3">
			          	<ul>
							<li class="dropdown-header">Shop by occasion</li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Party</a></li>
							<li><a href="#">Vacation</a></li>						
							<li><a href="#">Wedding</a></li>
							<li><a href="#">Beach</a></li>
							<li><a href="#">More ...</a></li>
						</ul>
			          </li>
			        </ul>
		        </li>
			    <li class="dropdown dropdown-large menu ">
			    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Women</a>
			    	<ul class="dropdown-menu dropdown-menu-large container center">
		        	  <li class="col-sm-3">
		        	  	
					      <a href="#">
					      	{% image 'bundles/vanofashioneshopping/images/home_loafers_model_women.jpg' %}
					        <img src="{{ asset_url }}" alt="Lights" style="width:100%">
					        {% endimage %}
					        <div class="text-center dropdown-menu-new-arrival" >
					          <p >New Arrivals</p>
					        </div>
					      </a>
					    
		        	  </li>
			          <li class="col-sm-3"> 
			          	<ul>
							<li class="dropdown-header">Shop by product</li>
							<li><a href="#">Clothing</a></li>						
							<li><a href="#">Bag</a></li>
							<li><a href="#">Shoes</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Jewelry</a></li>
							<li><a href="#">More ...</a></li>
						</ul>
			          </li>
			          <li class="col-sm-3">
			          	<ul>
							<li class="dropdown-header">Shop by Designer</li>
							<li><a href="#">Ralph Lauren</a></li>
							<li><a href="#">Tommy </a></li>
							<li><a href="#">Calvin Klein</a></li>
							<li><a href="#">Diesel</a></li>
							<li><a href="#">Guess</a></li>
							<li > <a href="#">More ...</a> </li>
							
						</ul>
			          </li>
			          <li class="col-sm-3">
			          	<ul>
							<li class="dropdown-header">Shop by occasion</li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Party</a></li>
							<li><a href="#">Vacation</a></li>						
							<li><a href="#">Wedding</a></li>
							<li><a href="#">Beach</a></li>
							<li><a href="#">More ...</a></li>
						</ul>
			          </li>
			        </ul>
			    </li>
			    <li class="dropdown dropdown-large menu "><a href="#">Designers</a></li>
			    <li class="dropdown dropdown-large menu ">
			    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Website Management</a>
			    	<ul class="dropdown-menu dropdown-menu-large container center">
			    		<li class="col-sm-3">
			    			<ul>
								<li class="dropdown-header">Item</li>
								<li><a href="#">view items</a></li>
								<li><a href="#">add item</a></li>
								<li><a href="#">add product</a></li>						
								<li><a href="#">add category</a></li>
								
						    </ul>
			    		</li>

			    		<li class="col-sm-3">
			    			<ul>
								<li class="dropdown-header">Discount</li>
								<li><a href="#">view ongoing discounts</a></li>
								<li><a href="#">add discount</a></li>								
						    </ul>
			    		</li>
			    		<li class="col-sm-3">
			    			<ul>
								<li class="dropdown-header">User</li>
								<li><a href="#">view users</a></li>
								<li><a href="#">add user</a></li>								
						    </ul>
			    		</li>

			    		<li class="col-sm-3">
			    			<ul>
								<li class="dropdown-header">Customer</li>
								<li><a href="#">view customers</a></li>
								<li><a href="#">custormers' orders</a></li>								
						    </ul>
			    		</li>
			    	</ul>
			    </li>
		      </ul>
		      <form class="navbar-form navbar-right  col-sm-3">
		        <div class="input-group">
				    <input type="text" id="navbar-search-input" class="btn btn-default search-input" placeholder="Search">
				    <div class="input-group-btn">
				      <button id="btn-search" class="btn btn-default" type="submit">
				        <i class="glyphicon glyphicon-search"></i>
				      </button>
				    </div>
			    </div>
	          </form> 
		    </div>
		  </div>
	    </nav> 
	
    </div>	
  
  
   



	{% block body %}

    {% endblock %}

    </div>

    <footer class="container-fluid  ">
        <div class="row">
	    	<div class="col-sm-4 footer-menu "> 
	    		<ul>
	    			
	    			<li class="footer-menu--header">Customer service</li>
	    			<li><a href="">Contact us</a></li>
	    			

	    		</ul></div>
	    	<div class="col-sm-4 footer-menu"> 
	    		<ul>	    			
	    			<li class="footer-menu--header">VanoFashion</li>
	    			<li><a href="">About us</a></li>
	    			<li><a href="">Privacy policy</a></li>
	    			
	    			
	    		</ul>
	    	</div>
	    	<div class="col-sm-4 footer-menu">
	    		<ul>	    			
	    			<li class="footer-menu--header">Shopping Online</li>
	    			<li><a href="">Prices &amp Currencies</a></li>
	    			<li><a href="">available payment</a></li>
	    			<li><a href="">shipment information</a></li>
	    			<li><a href="">return policy</a></li>
	    			<li><a href="">Terms &amp conditions </a></li>
	    		</ul>
	    	</div>
    	</div>

    	<div class="row copyright-text">
    		&copy 2018-<script>document.write(new Date().getFullYear())</script> 
    		<span id="company-name"> VanoFashion </span>
    	</div>
       
   </footer>

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    {% endblock %}
	</body>

</html>