	/* for message discount's animation */
	.discount {
		  		 height: 35px ;
		  		 background-color:  #EAEDED ; 
		  		 padding-top: 7px ; 
		  		 color:#5C1F79;
		  		 border-bottom: 1px solid #5C1F79;
		  		 border-top: 1px solid #5C1F79;
		  		 -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
			     -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
			     animation-name: example;
			     animation-duration: 2s;			     
			     animation-iteration-count: infinite;
			     animation-direction: alternate;
			     -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
                 transition: width 2s;	
              }

		  /* Safari 4.0 - 8.0 */
		@-webkit-keyframes example {
		    from {
		    	color: #2e4053;
		    }
		    to {
		    	color: #5C1F79;
		    	font-size: 21px;
		    	font-weight: bold;	
		    	text-shadow: 2px 2px 5px #2e4053;	    	
		    }
		}

		/* Standard syntax */
		@keyframes example {
		    from {
		    	color: #2e4053;
		    }
		    to {
		    	color: #5C1F79;
		    	font-size: 21px;
		    	font-weight: bold;
		    	text-shadow: 2px 2px 5px #2e4053;		    	
		    }
		}

		/* for the logo rotation */
		@-webkit-keyframes rotating /* Safari and Chrome */ {
		  from {
		    -webkit-transform: rotateY(0deg);
		    -o-transform: rotateY(0deg);
		    transform: rotateY(0deg);
		  }
		  to {
		    -webkit-transform: rotateY(360deg);
		    -o-transform: rotateY(360deg);
		    transform: rotateY(360deg);
		  }
		}
		@keyframes rotating {
		  from {
		    -ms-transform: rotateY(0deg);
		    -moz-transform: rotateY(0deg);
		    -webkit-transform: rotateY(0deg);
		    -o-transform: rotateY(0deg);
		    transform: rotateY(0deg);
		  }
		  to {
		    -ms-transform: rotateY(360deg);
		    -moz-transform: rotateY(360deg);
		    -webkit-transform: rotateY(360deg);
		    -o-transform: rotateY(360deg);
		    transform: rotateY(360deg);
		  }
		}
		.rotating {
		  -webkit-animation: rotating 6s linear infinite;
		  -moz-animation: rotating 6s linear infinite;
		  -ms-animation: rotating 6s linear infinite;
		  -o-animation: rotating 6s linear infinite;
		  animation: rotating 6s linear infinite;
		}
		/* general font */

	  body{
	  	color:     #2e4053  ;
	  	margin: 0 px;
	  	padding: 0 px;
	  	
	  		  	
	  }

	  a, a:hover{
	  	color:  #2e4053 ;
	  	text-decoration: none;
	  	cursor: pointer;

	  }



	  ul[id="currency"].dropdown-menu li {
	  	 border: 1px solid  #eaecee ;
	  	 border-radius: 5px;
	  	 text-align: center;	  	  
	  }

	  ul.dropdown-menu{
	  	min-width: 65px;
	  }
	  
	  .logo{
	  	display: block;
        margin: auto;
        padding-top: 10px;
	  }

	  .navbar{
	  	background-color: #5C1F79;
	  	margin-top: 15px;
	  }

	  .nav.navbar-nav > li > a {
        color: white;
        padding-right: 45px;
        padding-bottom: 18px;
        text-transform: uppercase;
        text-decoration: none;
      } 

      .nav.navbar-nav .dropdown-menu li a {
        color: #2e4053;
        
      } 

      .nav.navbar-nav li a:hover {        
        background-color:    #fff;
        color: #5C1F79;
      }   

      .contain {object-fit: contain;}
      .cover {object-fit: cover;}
      .scale-down {object-fit: scale-down;}
      
      .search-input {
       width: 100px;
       transition: ease-in-out, width .35s ease-in-out;
       border-top-left-radius: 10px;
       border-bottom-left-radius:10px;
      }

      .search-input:focus {
       width: 250px;
      }

      .nav.navbar-nav .dropdown-menu {
       display: none;

      }
      .nav.navbar-nav .dropdown:hover  .dropdown-menu {
       display: block;
      }

      .dropdown-large {
        position: static !important;
      }

      .dropdown-menu-large {
	  margin-left: 16px;
	  margin-right: 16px;
	  padding: 20px 0px;
	  }
	  .dropdown-menu-large > li > ul {
	  padding: 0;
	  margin: 0;
	  }
	  .dropdown-menu-large > li > ul > li {
	  list-style: none;
	  }
	  .dropdown-menu-large > li > ul > li > a {
	  display: block;
	  padding: 3px 20px;
	  clear: both;
	  font-weight: normal;
	  line-height: 1.428571429;
	  color: #333333;
	  white-space: normal;
	  }
	  .dropdown-menu-large > li ul > li > a:hover,
	  .dropdown-menu-large > li ul > li > a:focus {
	  text-decoration: none;
	  color: #262626;
	  background-color: #f5f5f5;
	  }
	 
	 .dropdown-menu-large .dropdown-header {
	  color: #4a235a;
	  font-size: 18px;
	  font-weight: bold;
	 }
	 @media (max-width: 768px) {
	   .dropdown-menu-large {
	    margin-left: 0 ;
	    margin-right: 0 ;
	    }
		.dropdown-menu-large > li {
		    margin-bottom: 30px;
		 }
		 .dropdown-menu-large > li:last-child {
		    margin-bottom: 0;
		 }
		 .dropdown-menu-large .dropdown-header {
		    padding: 3px 15px !important;
		 }

	 }

	 

     .navbar-nav>li>.dropdown-menu {
	    margin-top: 6px;
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	    left: 60%;
	    right: auto;
	    text-align: left;
	    background-color:   #e5e7e9;
	    transform: translate(-50%, 0);
	 }

	.dropdown-menu:before {
	  position: absolute;
	  top: -7px;
	  left: 50%;
	  right: auto;
	  display: inline-block;
	  border-right: 7px solid transparent;
	  border-bottom: 7px solid #ccc;
	  border-left: 7px solid transparent;
	  border-bottom-color: rgba(0, 0, 0, 0.2);
	  content: '';
	}

	.dropdown-menu-new-arrival{
		text-transform: uppercase; 
		color: #4a235a;  
		margin-top:8px ; 
		padding-top:5px ; 
		width:100% ; 
		border:1px solid #4a235a;
	}

	footer{
		background-color:  #F2F3F4 ;
	}

	

	div.footer-menu > ul  {
		list-style:none !important;		
	}

	div.footer-menu > ul li a {
		color:  #2e4053 ;
	  	text-decoration: none;
	}

	.footer-menu--header{
		font-weight: bold;
		font-size: 15px;

	}

	.copyright-text{
		text-align: center;
		font-family: "Lobster Two";
		color:   #5b2c6f  ;
		font-size: 16px;
		

	}

	footer > div.row{
		border-top: 1px solid  #b2babb ;
		padding-top: 10px;


	}
	.headline{		
		padding: 0px;
		margin: 0px;
		background-color: #fff;
	}
	.main-menu{

		
   
		


	}

   
    h1{
    	font-weight: bold;
    }


   


    
   